In [42]:
s = "Death there mirth way the noisy merit"
A = s.split()
A.reverse()
print(A)

['merit', 'noisy', 'the', 'way', 'mirth', 'there', 'Death']

In [47]:
A = "In the hole in the ground there lived a hobbit"
for i in range(0, len(A), 2):
 print(A[i], end="")

I h oei h rudteelvdahbi

In [56]:
numbers = input("Введите список чисел через пробел: ").split()
n = int(input("Введите степень: "))

result = [int(num)**n for num in numbers]
print(result)

Введите список чисел через пробел: 3 5 -7 -13 43 8 0 -13 8 -1 2
Введите степень: 2
[9, 25, 49, 169, 1849, 64, 0, 169, 64, 1, 4]

In [57]:
text = input("Введите текст: ")
symbol = input("Введите символ: ")

doubled_text = text.replace(symbol, symbol*2)
print(doubled_text)

Введите текст: Death there mirth way the noisy merit
Введите символ: a
Deaath there mirth waay the noisy merit

In [66]:
def count_chars(string):
    count_x = string.count('x')
    count_y = string.count('y')
    result = f'x: {count_x}, y: {count_y}'
    print(result)

In [ ]:
def remove_brackets(text):
    result = ""
    inside_brackets = False

    for char in text:
        if char == '(':
            inside_brackets = True
        elif char == ')':
            inside_brackets = False
        elif not inside_brackets:
            result += char

    return result.strip()

text = "When he saw Sally (a girl he used to go to school with) in the shop, he could not believe his eyes. She was fantastic (as always)!"
result = remove_brackets(text)
print(result)