In [9]:
def is_palindrome(string):
    string = string.replace(" ", "")
    string = string.lower()
    return string == string[::-1]
print(is_palindrome("А роза упала на лапу Азора"))
print(is_palindrome("hello world"))
print(is_palindrome("level"))

True
False
True

In [11]:
def personal_info(name, surname, patronymic, age):
 return f"{surname} {name} {patronymic} {age} г.р. зарегистрирован"

name = "Иван"
surname = "Иванов"
patronymic = "Иванович"
age = 1973

print(personal_info(name, surname, patronymic, age))

Иванов Иван Иванович 1973 г.р. зарегистрирован

In [40]:
def get_max(a, b, c=None):
 if c is None:
    return a if a > b else b
 else:
    if a > b and a > c:
     return a
    elif b > a and b > c:
     return b
    else:
     return c
print(get_max(5, 10))
print(get_max(2, 7, 4))
print(get_max(9, 2, 5))

10
7
9